a {
    text-decoration: none;
    color: black;
}

.header {
    background: azure;
    border: 1px solid silver;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
}

.header_main {
    display: flex;
}

.header_nav li {
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
}

.header_nav li:hover a {
    color: red;
}

